<h1>Let's create new book!</h1>
<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label  :cover %>
  <%= f.file_field :cover %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :authors %>
  <%= f.collection_check_boxes  :authors, Author.all, :id,:name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

  <%= f.label :groups %>
  <%= f.collection_check_boxes :groups, Group.all, :id,:name do  |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

  <%= f.submit "Create book", class: "btn btn-large btn-primary" %>
<% end %>