<div class="row">
  <div class="col-">
    <div class="cover">
      <%= image_tag @book.cover, alt: @book.title, class:"img-fluid"%>
    </div>
  </div>

  <div class="col-6">
    <div class="content">
      <span ><h2><%= @book.title %></h2></span>
      <div class="references">
        <span >Authors:</span> <%= render 'shared/author_show_links', book: @book %>
        <span >Groups:</span> <%= render 'shared/group_show_links', book: @book %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/edit_link', item: @book %>
<%= render 'shared/delete_link', item: @book %>
